<table class="table-hover users-table table table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th *ngIf="checkPermission('deleteuser')" scope="col">Delete</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Can read user</th>
        <th scope="col">Can create user</th>
        <th scope="col">Can delete user</th>
        <th scope="col">Can edit user</th>
        <th *ngIf="checkPermission('updateuser')" scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users  index as i;">
      <th scope="row">{{i+1}}</th>
      <td *ngIf="checkPermission('deleteuser')" class="text-center py-1">
        <button (click)="deleteUser(user.id)" class="btn btn-outline-danger btn-xs">Delete</button>
      </td>
      <td>{{user.username}}</td>
      <td>{{user.lastName}}</td>
      <td [routerLink]="'/users/'+user.id">{{user.email}}</td>
      <td>{{user.can_read_users}}</td>
      <td>{{user.can_create_users}}</td>
      <td>{{user.can_delete_users}}</td>
      <td>{{user.can_update_users}}</td>
      <td *ngIf="checkPermission('updateuser')" class="text-center py-1">
        <button (click)="editUser(user.id)" class="btn btn-outline-danger btn-xs">Edit</button>
      </td>

    
    </tr>
    </tbody>
  </table>
  