<form [formGroup]="searchVacuumForm" (submit)="searchVacuum()" method="post" >
    <div class="mb-3">
      <label for="firstNameInput" class="form-label">Vacuum name</label>
      <input [formControlName]="'vacuumName'"  type="text" class="form-control" id="firstNameInput">
    </div>
    <div class="mb-3">
      <label for="dateFromInput" class="form-label">Date from</label>
      <input [formControlName]="'dateFrom'" type="date" class="form-control" id="dateFromInput">
    </div>
    <div class="mb-3">
      <label for="dateToInput" class="form-label">Date to</label>
      <input [formControlName]="'dateTo'" type="date" class="form-control" id="dateToInput">
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" value="ON" id="3">
      <label class="form-check-label" for="3">
        ON
      </label>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" value="OFF" id="4">
      <label class="form-check-label" for="4">
        OFF
      </label>
    </div>
  
    <button type="submit" class="btn btn-primary me-2">Search</button>
    <button (click)="clearForm()" class="btn btn-primary">Clear</button>
  </form>
  
  
  <table class="table-hover users-table table table-borderless">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Status</th>
      <th scope="col">Active</th>
      <th scope="col">Date created</th>
      <th scope="col">Name</th>
      <th scope="col">Created by</th>
      <th scope="col">Run / Stop</th>
      <th scope="col">Discharge</th>
      <th scope="col">Schedule</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vacuum of vacuum index as i;">
      <th scope="row">{{i+1}}</th>
      <td>{{vacuum.status}}</td>
      <td>{{vacuum.active}}</td>
      <td>{{vacuum.date}}</td>
      <td>{{vacuum.name}}</td>
      <td>{{vacuum.user.email}}</td>
      <td *ngIf="vacuum.status == 'OFF'" class="text-center py-1">
        <button (click)="startVacuum(vacuum.id)" class="btn btn-outline-primary  btn-xs">Start</button>
      </td>
      <td *ngIf="vacuum.status == 'ON'" class="text-center py-1">
        <button (click)="stopVacuum(vacuum.id)" class="btn btn-outline-danger  btn-xs">Stop</button>
      </td>
      <td *ngIf="vacuum.status == 'OFF'; else nobtn" class="text-center py-1">
        <button (click)="dischargeVacuum(vacuum.id)" class="btn btn-outline-info  btn-xs">Discharge</button>
      </td>
      <ng-template #nobtn>
        <td></td>
      </ng-template>
      <td class="text-center py-1">
        <button [routerLink]="'/schedule/' + vacuum.id" class="btn btn-outline-dark  btn-xs">Schedule</button>
      </td>
      <td *ngIf="vacuum.status == 'OFF'; else nobtn" class="text-center py-1">
        <button (click)="removeVacuum(vacuum.id)" class="btn btn-outline-info  btn-xs">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
  
  